<head>
    <style>
        body{background-color: darkgray;}
        table.tb { border-collapse: collapse; width:1500px; margin-left: auto; margin-right: auto;}
        table th, .tb td { padding: 10px; border: solid 15px #777; }
        table th { background-color: rgb(76, 83, 85);}
        footer{bottom: 0;}
        .secret{color: white;
        font-size: 20px;}
      </style>
      </head>
      <body>


        
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Welcome to our Partnership</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Embark on a fragrant journey with our Perfume Emporium – a unique opportunity awaits as we invite you to join us in a partnership that transcends scents and embraces a world of exquisite aromas.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <div class="secret" *ngIf="showText">
                                    Contact this number: 0912 345 6789
                                </div>
                                <button class="btn btn-primary btn-lg px-4 me-sm-3" (click)="toggleText()">Get Started</button>
                           
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://static.vecteezy.com/system/resources/previews/016/664/831/non_2x/perfume-logo-illustration-symbol-design-vector.jpg" alt="..." /></div>
                </div>
            </div>
        </header>



    <div id="myTable"> 
        <table class="table table-dark table-striped" id="mytable"> 
            <thead> 
                <tr> 
                    <th>Brand</th> 
                    <th>Owner / Company</th> 
                    <th>Sponsorship</th> 
                    <th>Website</th>
                </tr> 
            </thead> 
                <tbody> 
                    <tr *ngFor="let user of partners"> 
                    <td>{{user.company}}</td>
                    <td>{{user.owner}}</td>
                    <td>{{user.sponsorship}}</td> 
                    <td>{{user.website}}</td> 
                </tr> 
                </tbody> 
        </table>
    </div>

    
    
</body>

